*{
    box-sizing: border-box;
    font-family: Shabnam;
}
@font-face{
    font-family: Shabnam;
    src: url(Shabnam-Bold.ttf);
}
body , html{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color:  #cef7f7;
    
}
#inputTag {
    display: none;
}
nav {
   
    position: fixed;
    width: 100%;
    height: 95px;
    
    margin-right: -10px;
    position: relative;
   
}
nav label {
    width: 30px;
    height: 100px;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    position:absolute;
    z-index: 3;
    margin-top: -100px;
    
    
}
nav label span {
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: rgb(18, 18, 30);
    position: relative;
    border-radius: 50px;
    transition: 0.4s;
    margin-right: 10px;
}
nav label span.top {
    top: -5px;
}
nav label span.bottom {
    top: 5px;
}

nav  ul {
    width: 10%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color:  #f6d82b;
    padding-top: 100px;
    transform: translateX(100%);
    transition: 0.4s;
    z-index: 10;

}
nav ul li {
    
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    
    cursor:pointer;
    padding: 4%;
}
nav ul li:hover {
    background-color: rgba(18, 18, 30, 0.526);
}

#inputTag:checked ~ ul {
    transform: translateX(0);

 }
 #inputTag:checked ~ label span {
    background-color: rgba(18, 18, 30, 0.526);
    
 }
 #inputTag:checked ~ label span.middle {
    opacity: 0 ;
 }
 #inputTag:checked ~ label span.top {
    transform: rotate(-45deg);
    top: 3px ;
 }
 #inputTag:checked ~ label span.bottom {
    transform: rotate(45deg);
    top: -3px;

}

.submit{
    color: white;
    background-color:rgb(17, 145, 38);
    border-radius: 5px;
    border:3px;
    width: 90px;
    height: 35px;
    cursor: pointer;
}
label{
    color: rgba(87, 36, 100, 0.926);
    margin-bottom: 10px;
}
.login{
    display: flex;
    gap: 25px;
}

.email{
    border: 1px solid white;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    background-color: rgba(87, 36, 100, 0.926);
   
}


.username{
    border: 1px solid white;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    background-color: rgba(87, 36, 100, 0.926);
}
.password{
    border: 1px solid white;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    background-color: rgba(87, 36, 100, 0.926);
}

.emailbox{
    width: 400px;
    height: 40px;
    display: flex;
    gap: 84px;
    margin: 10px ;
    margin-right: 25px;
}

.usernamebox{
    width: 500px;
    height: 40px;
    display: flex;
    gap: 53px;
    margin: 10px ;
    margin-right: 25px;
}
.passwordbox{
    width: 500px;
    height: 40px;
    display: flex;
    gap: 72px;
    margin: 10px ;
    margin-right: 25px;
}
.form-group{
    width: 500px;
    height: 40px;
    display: flex;
    gap: 200px;
    margin: 10px ;
    margin-right: 25px;
    padding-bottom: 10px;
}
.buttonsbox{
    width: 200px;
    height: 60px;
    display: flex;
    gap: 10px;
    margin: 10px ;
    margin-right: 70%;
    padding-bottom: 10px;
   
}
.profile{
width: 300px;
height: 450px;
background-color: rgb(31, 31, 46);
margin-top: 80px;
margin-left: 100px ;
}
.information {
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 530px;
    height: 380px; 
    border-radius: 5%;
    border:3px solid rgb(18, 18, 30);
    background-color: #FFD700;
    padding-right: 10% ;
    padding-bottom: 10%;
    padding-top: 15%;
    margin : auto; 
    margin-top: 15%;
}


@media screen and (max-width:576px) {
        .buttonsbox{
            width: 200px;
            height: 60px;
            display: flex;
            gap: 10px;
            margin: 10px ;
            margin-right: 55%;
            padding-bottom: 10px;
        }
        
        label{
            color: white;
            margin-bottom: 10px;
        }
        .login{
            display:block;
          
        }
       
        .information{
            width: 510px;
            height: 650px;
            margin: auto;
        }
       
}