body {
    font-family: url(Shabnam-Bold.ttf);
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #6a1b9a;
    color: white;
    padding: 20px;
}

.mailbox img {
    margin: 20px auto;
    width: 100px;
}

.nav-tabs {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #ffeb3b;
    margin: 0;
}

.nav-tabs li {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #7b1fa2;
    color: white;
    border-radius: 5px;
}

.nav-tabs li:hover {
    background-color: #512da8;
}

.tab-content {
    font-family: url(Shabnam-Bold.ttf);
    font-size: 25px;
    margin: 120px auto;
    padding: 50px;
    background-color: #e3f2fd;
    border: 1px solid #bbb;
    border-radius: 10px;
    max-width: 400px;
}
.tab-link {
    font-family: url(Shabnam-Bold.ttf);
    font-size: larger;
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.active {
    /* استایل برای دکمه فعال */
    background-color: #f263ff;
    color: white;
}